{% extends "layout.html" %} {% block title %} <h2>Página Inicial</h2> {% endblock %} {% block content %} <main> <img
        class="foto-cena" src="{{ url_for('static', filename='images/John_Cena.webp') }}" alt="Fotografia de John Cena">
    <p>
        John Cena é um lutador profissional, ator e rapper americano. Ele é conhecido pela sua carreira na WWE, onde
        se tornou um dos maiores nomes da história do wrestling. Cena é famoso pelo seu carisma, força física e
        habilidades no ringue, além da sua frase de efeito "You can't see me". Fora do wrestling, ele também teve
        sucesso como ator em filmes e programas de televisão.
    </p>
</main>
<section id="contador-seccao">
    <h2>Contador de Cliques</h2>
    <p>Número de cliques: <span id="contador">0</span></p> <button id="botao-incrementar">Clique Aqui!</button> <button
        id="botao-reset">Reiniciar</button>
</section>
<section id="relogio-seccao">
    <h2>Relógio Digital</h2>
    <div id="relogio">00:00:00</div>
    <p class="subtitle">Hoje é {{ day }}!</p>
</section> {% endblock %}
